:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #bdbdbd;
  --red-color: #c40000;
  --transition: 0.3s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.1rem;
}

body::-webkit-scrollbar-track {
  background: var(--black-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  height: 0.1rem;
  border-radius: 3rem;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 500px;
  }

  html {
    font-size: 75%;
  }
}
