.title-span {
  color: var(--red-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 6;
  position: relative;
}

.primary-nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation: show-left 0.3s;
}

.header a {
  text-decoration: none;
  color: var(--white-color);
  transition: 0.3s;
}

.header a:hover {
  text-decoration: none;
  color: var(--gray-color);
}

.primary-nav a {
  font-size: 1rem;
  padding: 0.5rem;
}

.logo,
.login {
  font-size: 1.5rem;
}

.menu-button {
  display: none;
  cursor: pointer;
}

.menu-button .line-button {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background: var(--red-color);
  transition: var(--transition);
}

.menu-button .line-button:nth-child(n + 2) {
  margin-top: 0.5rem;
}

.search-movies,
.search-movies-mobile {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 20rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: var(--red-color);
  color: var(--white-color);
  position: relative;
  height: 2rem;
}

.search-movies::placeholder,
.search-movies-mobile::placeholder {
  color: var(--white-color);
}

.search-movies:focus,
.search-movies-mobile:focus {
  outline: none;
}

.search-movies.active,
.search-movies.active ~ .search-button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-container,
.search-container-mobile {
  display: flex;
  align-items: center;
  position: relative;
}

.search-container form,
.search-container-mobile form {
  display: flex;
  align-items: center;
}

.search-button,
.search-button-input-mobile {
  background-color: var(--red-color);

  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.search-button,
.search-button-mobile,
.search-button-input-mobile {
  cursor: pointer;
  border: transparent;
  padding: 0.5rem 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button svg,
.search-button-mobile svg,
.search-button-input-mobile svg {
  fill: var(--white-color);
}

.search-button-mobile {
  display: none;
  background: transparent;
}

.some-results,
.some-results-mobile {
  display: none;
  position: absolute;
  background: var(--red-color);
  color: var(--white-color);
  width: 100%;
  z-index: 999;
  top: 2rem;
  padding-top: 0.5rem;
  transition: var(--transition);
}

.some-results.active {
  display: block;
}

.some-results a:nth-child(n + 1),
.some-results-mobile a:nth-child(n + 1) {
  border-bottom: 0.1rem solid var(--white-color);
}

.some-results a:last-child,
.some-results-mobile a:last-child {
  border: none;
}

.search-container-mobile,
.search-button-input-mobile,
.search-movies-mobile {
  display: none;
}

.loading-search,
.no-results-search {
  padding: 0.5rem 0.5rem;
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

@media (max-width: 900px) {
  .search-button-mobile {
    display: flex;
  }
  .search-container,
  .search-button,
  .search-movies {
    display: none;
  }

  .loading-search,
  .no-results-search {
    padding: 1rem;
  }

  .some-results-mobile {
    top: 8.8rem;
  }

  .some-results-mobile a {
    padding: 1rem;
  }

  .some-results-mobile.active {
    display: block;
  }

  .search-container-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8.8rem;
    z-index: 9;
  }

  .form-search-mobile {
    width: 100%;
    height: 100%;
  }

  .search-button-input-mobile {
    height: 100%;
    border-radius: 0;
  }
  .search-movies-mobile {
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-size: 1.5rem;
  }

  .search-container-mobile.active {
    display: flex;
  }
  .search-button-input-mobile,
  .search-movies-mobile {
    display: block;
  }

  .primary-nav {
    display: none;
  }

  .primary-nav ul li {
    width: 100%;
  }

  .logo {
    padding: 1.5rem;
  }

  .login {
    transition: var(--transition);
    border: solid 0.1rem var(--white-color);
    border-radius: 1rem;
    text-align: center;
    border-color: var(--gray-color);
    display: block;
    padding: 1rem 3rem !important;
  }

  .menu-button {
    position: relative;
    display: block;
    z-index: 7;
    padding: 1.5rem;
  }

  .menu-button.active .line-button:first-child {
    display: none;
  }

  .menu-button.active .line-button:last-child {
    transform: rotate(50deg);
  }

  .menu-button.active .line-button:nth-child(2) {
    position: absolute;
    transform: rotate(-50deg);
  }

  .primary-nav.active {
    display: block;
  }

  .primary-nav.active ul {
    flex-direction: column;
    align-items: start;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    background-color: var(--black-color);
    box-shadow: -40vw 0 0 0 rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 60vw;
    padding: 15vh 1rem;
    gap: 2rem;
  }

  .primary-nav.active ul li a {
    font-size: 1rem;
    padding: 1rem 1rem;
  }

  .primary-nav.active ul li:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
