.movie-infos {
  width: 100%;
  height: 70vh;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.95) 50%,
      rgba(0, 0, 0, 0.95) 50%
    ),
    var(--background-url);
  background-size: cover;
  background-position: center;
}

.movie-info-content {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 10fr;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 1rem;
  z-index: 3;
}

.movie-info-title {
  font-size: 2.5rem;
  grid-column: 2/-1;
}

.movie-info-image {
  grid-row: span 2;
}

.movie-info-poster {
  border-radius: 1.5rem;
}

.movie-info-dates {
  grid-column: 2/2;
  align-self: start;
}

.movie-info-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.movie-info-categorie {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-radius: 1.5rem;
  color: var(--black-color);
  padding: 0.25rem 1.5rem;
}

.movie-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.movie-score {
  display: flex;
  align-items: center;
}

.movie-overview {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100ch;
}

.watch-trailer-button {
  display: block;
  border: 0.25rem solid var(--white-color);
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-top: 2rem;
  width: max-content;
  transition: var(--transition);
  color: var(--white-color);
}

.watch-trailer-button:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}

@media (max-width: 1200px) {
  .movie-infos {
    height: 100vh;
  }
}

@media (max-width: 900px) {
  .movie-info-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  .movie-info-title {
    grid-column: 1;
    justify-self: start !important;
    font-size: 2rem;
  }

  .movie-info-image {
    grid-row: 1;
  }

  .movie-info-dates {
    justify-self: start !important;
    grid-column: 1;
  }

  .movie-infos {
    height: 100%;
  }

  @media (max-width: 380px) {
    .movie-info-content {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .movie-info-poster {
      max-width: 40rem;
      max-height: 40em;
    }
  }
}
